{% extends 'layout.html.twig' %}
 
{% block body %}
    {% if blogs is empty %}
        <h1 style="text-align: center">{{ 'blog.none'|trans }}</h1>
    {% endif %}
    {% for blog in blogs %}
        <article class="blog">
            <header>
                <div class="date">
                    {% set day =  blog.created.date|date('l') %}
                    {% set month =  blog.created.date|date('F') %}

                    <time datetime="{{ blog.created.date|date('c') }}">{{ day|trans }}, {{ month|trans }} {{ blog.created.date|date('j, Y') }}</time>
                </div>
                <h2>
                    <a href="/{{ blog.id }}">{{ blog.title|striptags }}</a>
                </h2>
            </header>
            <div>
                <p>
                    {{ blog.body|striptags|slice(0, 50) ~ "..." }}
                    <a href="{{ blog.id }}">{{ 'blog.readmore'|trans }}</a>
                </p>
            </div>
        </article>
    {% endfor %}
{% endblock %}