{# templates/search/search.html.twig #}
{% extends 'layout.html.twig' %}
 
{% block body %}
    {% if blogs is empty %}
        <h1 style="color: red;text-align: center">{{ 'search.notfound'|trans}}</h1>
    {% endif %}
    {% for blog in blogs %}
        <article class="blog">
            <header>
                <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
                <h2>
                    <a href="/{{ blog.id }}">{{ blog.title|striptags }}</a>
                </h2>
            </header>
            <div>
                <p>
                    {{ blog.blog|striptags|slice(0, 50) ~ "..." }}
                    <a href="{{ blog.id }}">{{ 'home.readmore'|trans }}</a>
                </p>
            </div>
        </article>
    {% endfor %}
{% endblock %}