{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'site.title'|trans }}
    -
    {{ 'nav.add'|trans }}
{% endblock title %}

{% block body %}
    <form action="{{ path('add') }}" method="POST" class="send">
        {{ form_row(form.title) }}
        <hr>
        {{ form_row(form.blog) }}
        <hr>
        {{ form_row(form.tags) }}
        <br>
        {{ form_rest(form) }}
        <input type="submit" class="send" value="{{ 'add.send'|trans }}"/>
    </form>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}